@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
* {
	box-sizing: border-box;
}

body {
	background: #e7cd99;
    background-position: center;
	background-repeat:no-repeat;
	background-size:cover;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
    overflow: hidden;
	margin: -20px 0 50px;
}
.error
{
	color: #ff0000;
}
h1
 {
	font-weight: bold;
	margin: 0;
}

h2 {
	text-align: center;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}
button {
	border-radius: 20px;
	border: 1px solid #3BB9FF;
	background-color: #3BB9FF;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;

}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}
button:hover{
	background-color:green;
    border:  1px solid green;
}
.txt1
{
	color:black;
}
.txt1:hover{
	color:blue
}



.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 700px;
	max-width: 100%;
	min-height: 680px;
	background: -webkit-linear-gradient(to right, #e5fcc2, #45adab);
	background: linear-gradient(to right, #e5fcc2, #45adab);
	background-position: center;
	background-repeat:no-repeat;
	background-size:cover;

}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
    margin:25px;
}


.sign-up-container .title{
    font-size: 28px;
    font-weight: 500;
    position: relative;
}
.sign-up-container .title::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg,#71b7e6,#9b59b6);
}
.sign-up-container form .user-details{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    margin: 15px 0 8px 0;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}
.user-details .input-box .details{
    display: block;
	font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;

}
.user-details .input-box .textarea{
    resize: none;
    height: 80px;
	font-size: 12px;
    width: 280px;
}
.user-details .input-box input{
    height:30px;
    width:150px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 12px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #9b59b6;
}
.user-details .input-box .custom_select{
    width: 100%;
    height: 37px;
}
.user-details .input-box .custom_select select{
    height:30px;
    width:50%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 12px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.sign-up-container form .user-details{
		max-height: 470px;
		overflow-y:scroll;
	}
	.user-details::-webkit-scrollbar{
		width: 0;
	}
form .btn{
    display: flex;
    align-items: center;
    justify-content: center;
	margin:3px;
}
form .btn input{
    border-radius: 20px;
	border: 1px solid #3BB9FF;
	background-color: #3BB9FF;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 15px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;

}
form .btn input:active {
	transform: scale(0.95);
}
form .btn input:focus {
	outline: none;
}
form .btn input:hover{
	background-color:green;
    border:  1px solid green;
}

form .btn1{
    display: flex;
    align-items: center;
    justify-content: center;
	margin:3px;
}
form .btn1 input{
    border-radius: 20px;
	border: 1px solid #f13838;
	background-color: #f13838;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 15px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;

}
form .btn1 input:active {
	transform: scale(0.95);
}
form .btn1 input:focus {
	outline: none;
}
form .btn1 input:hover{
	background-color:green;
    border:  1px solid green;
}


@media screen and (max-width:768px){

    .container {
        width: 90%;
        margin:35% auto;
    }

	form .user-details .input-box{
		margin-bottom: 15px;
		width: 100%;
	}

	.user-details .input-box .custom_select{
		width: 100%;
	}

	.sign-up-container form .user-details{
		max-height: 440px;
		overflow-y:scroll;
	}
	.user-details::-webkit-scrollbar{
		width: 0;
	}

}
.sign-up-container .error-msg{
	margin:10px 0;
	display: block;
	background: crimson;
	color: white;
	border-radius: 5px;
	font-size: 20px;
	padding:8px;
}

#login-modal{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 100;
	/* display: flex; */
	display: none;
	justify-content: center;
	align-items: center;
  }
  
  .sign-up-container .modal{
	background-color: #e6ecf0;
	padding: 10px 0 20px 0;
	border-radius: 10px;
	width: 450px;
	text-align: center;
  }
  
  .sign-up-container .top-form{
	display: flex;
	justify-content: flex-end;
  }
  
  .sign-up-container .top-form .close-modal{
	cursor: pointer;
	padding: 0 20px;
	font-size: 20px;
  }
  
  .sign-up-container .login-form h2{
	letter-spacing: 2px;
	margin-top: 10px;
	margin-bottom: 30px;
  }
  
  .sign-up-container .login-form form input{
	width: 75%;
	margin-bottom: 20px;
	padding: 12px 12px;
	box-sizing: border-box;
	border: 1px solid #d0d5d8;
	border-radius: 3px;
  }
  
  .sign-up-container .login-form form button{
	padding: 12px 0px;
	width: 75%;
	background-color: #5dca88;
	border: 0;
	border-radius: 3px;
	color: white;
	margin: 10px auto;
	cursor: pointer;
  }
  
  